<!DOCTYPE html>
<html>
<head>

    <title>Smart Farming Advisory System</title>

    <link rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<div class="container">

    <div class="left">

        <div class="title">

    🌱 SMART FARMING ADVISORY SYSTEM 🌱

</div>

        <h3>
            🌾🤖 AI-Powered Crop & Fertilizer Recommendation System 🌱

        </h3>

        <h4>
            🚜💡 Using Machine Learning Technology 🧪
        </h4>

        <hr>

        <h2>Empowering Farmers with Smart Technology</h2>

        <p>
            Welcome to Smart Farming Advisory System,
            an intelligent web application that helps
            farmers choose the most suitable crop based
            on soil nutrients and weather conditions.
            The system also recommends the appropriate
            fertilizer and generates a detailed PDF report.
        </p>

        <div class="buttons">

            <a href="/login" class="btn">
                Login
            </a>

            <a href="/register" class="btn">
                Register
            </a>

        </div>

        <hr>

        <h2>🌟 OUR FEATURES</h2>

        <ul>

            <li>🌾 AI-Based Crop Recommendation</li>
<li>🧪 Smart Fertilizer Suggestion</li>
<li>💧 AI-Based Irrigation Advice</li>
<li>🌦 Weather-Based Prediction</li>
<li>👨 Farmer Profile Management</li>
<li>📊 Prediction Dashboard</li>
<li>📄 Download PDF Report</li>
<li>🔒 Secure Login System</li>
<li>⚡ Fast & Easy to Use</li>

        </ul>

        <hr>

        <h2>🛠 TECHNOLOGIES USED</h2>

        <p>
            Python • Flask • MySQL • Machine Learning •
            Random Forest • ReportLab PDF
        </p>

        <hr>

        <h2>🎯 PROJECT OBJECTIVE</h2>

        <p>
            To assist farmers in making better agricultural
            decisions by analyzing soil nutrients and
            weather conditions through Machine Learning.
        </p>

        <hr>

        <h2>👨‍💻 Developed By</h2>

        <p>

            Student Name : Sahil Kumar Thakur

            <br><br>

            Project : Smart Farming Advisory System

            <br><br>

            Year : 2026

        </p>

    </div>

    <div class="right">

        <img src="{{ url_for('static', filename='images/image.png') }}" alt="Farming Image">

    </div>

</div>

<footer>

© 2026 Smart Farming Advisory System

</footer>

</body>
</html>
